@CHARSET "ISO-8859-1";

.CodeMirror-lines {
	padding: 0.4em !important;
    line-height: 1em;
}

.CodeMirror-lines pre {
    font-size: 21px;
    line-height: 21px;
    font-family: monospace;
    font-weight: 400;
    -moz-box-shadow: 0 0 0 0;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
}

.CodeMirror-scroll {
	height: auto;
}

.example .CodeMirror, .example iframe {
	border: 2px solid #DDDDDD;
	border-radius: 10px;
	margin-bottom: 20px;
}

.slides {
    max-width: 1024px !important;
}

.example .left {
    float: left;
	width: 810px;
}

.example .right {
	margin-left: 840px;
	width: 180px;
}

.example iframe {
	padding: 0.4em;
	height: 400px;
}

.html-code, .js-code, .js-code-hidden {
	display: none;
}

#boxes {
    /*height: 100%; width: 100%; position: relative;*/

}

/*#boxes {*/
    /*padding-top: 50px;*/
/*}*/

/*#boxes div {*/
    /*border: 2px solid grey;*/
    /*border-radius: 15px;*/
    /*margin-right: 100px;*/

    /* Firefox */
    /*display:-moz-box;*/
    /*-moz-box-orient:horizontal;*/
    /*-moz-box-pack:center;*/
    /*-moz-box-align:center;*/

    /* Safari and Chrome */
    /*display:-webkit-box;*/
    /*-webkit-box-orient:horizontal;*/
    /*-webkit-box-pack:center;*/
    /*-webkit-box-align:center;*/

    /*width: 200px;*/
    /*height: 100px;*/
    /*float: left;*/
    /*text-align: center;*/
/*}*/
